<footer>
  <div class="container content">
    <div class="row">
      <!-- Contact info
      -->
      <div class="col-md-2">
        <li>
          <%= link_to "Contact Us", "#" %>
        </li>
        <li>
          <%= link_to "Terms of Use", "#" %>
        </li>
        <li>
          <%= link_to "Privacy Policy", "#" %>
        </li>
        <li>
          <%= link_to "How it Works?", "#" %>
        </li>
      </div>
      <div class="col-md-5">
        <%= render 'home/logo' %>
        <p>Outdoor advertising made easy.</p>
        <p>
          555 Rose Ave, Venice, CA 90291
        </p>
      </div>
      <div class="col-md-4 text-right">
        <!-- Social links
        -->
        <ul class="social">
          <li>
            <a class="fa fa-twitter" href="#"></a>
          </li>
          <li>
            <a class="fa fa-facebook" href="#"></a>
          </li>
          <li>
            <a class="fa fa-instagram" href="#"></a>
          </li>
        </ul>
        <!-- Copyright message
        -->
        <div class="copyright">
          <a href="http://minhreigen.com">
            <%= "#{Time.now.year + 1} All Right Reserved" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
