<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li>
            <a href="/pages/shop">Portfolio</a>
          </li>
          <li>
            Single portfolio
            <sup>2</sup>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container">
    <div class="content">
      <div class="intro">
        <h1 class="lg">
          Single portfolio
          <sup>2</sup>
        </h1>
      </div>
      <a class="lightbox" href="<%= image_path('http://placehold.it/1300x867') %>">
        <img class="item" src="<%= image_path('http://placehold.it/1300x867') %>"/>
      </a>
    </div>
  </div>
  <div class="intro">
    <!-- Content
    -->
    <div class="content">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h1 class="title">The creation of aesthetics</h1>
          <p>We love design, so much we breathe it. We make things for the better. Our team is specialized in both visual design and webdevelopment.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <h4>Project details</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 strong">Year</div>
            <div class="col-md-8">2016</div>
          </div>
          <div class="row">
            <div class="col-md-4 strong">Client</div>
            <div class="col-md-8">John Doe Inc.</div>
          </div>
          <div class="row">
            <div class="col-md-4 strong">Role</div>
            <div class="col-md-8">Art Direction</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <a class="lightbox" href="<%= image_path('http://placehold.it/1400x933') %>">
          <img class="item" src="<%= image_path('http://placehold.it/1400x933') %>"/>
        </a>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p>This is my workspace, id consequat nulla placerat sed. Donec vel ligula tortor. Duis non augue quam. Ut nec felis vestibulum, luctus ex a, semper enim. Curabitur at pretium nunc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a class="lightbox" href="<%= image_path('http://placehold.it/400x267') %>">
          <img class="item" src="<%= image_path('http://placehold.it/400x267') %>"/>
        </a>
      </div>
      <div class="col-md-4">
        <a class="lightbox" href="<%= image_path('http://placehold.it/400x267') %>">
          <img class="item" src="<%= image_path('http://placehold.it/400x267') %>"/>
        </a>
      </div>
      <div class="col-md-4">
        <a class="lightbox" href="<%= image_path('http://placehold.it/400x267') %>">
          <img class="item" src="<%= image_path('http://placehold.it/400x267') %>"/>
        </a>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <blockquote class="item">Quitters don't win. Winners don't quit.</blockquote>
      </div>
    </div>
  </div>
</section>
<section class="on-foot">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="previous-post" href="/pages/portfolio-single">
          <div class="arrow">
            <div class="ion-chevron-left"></div>
          </div>
          <div class="content">
            <div class="title">Previous</div>
            <div class="post-title">Example portfolio item</div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="next-post" href="/pages/portfolio-single">
          <div class="content">
            <div class="title">Next</div>
            <div class="post-title">Example portfolio item</div>
          </div>
          <div class="arrow">
            <div class="ion-chevron-right"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
